@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/master.cshtml";
}

<link rel="stylesheet" href="../../Style/About.css" />
<h1>Nosotros</h1>
<div class="principal">
    <div class="derecha">
        <img src="../../image/JIC.png" alt="Politecnico Jaime Isaza Cadavid">
    </div>
    <div class="izquierda">
        <h1>¿Quiénes Somos?</h1>
        <br />
        <p>
            Somos una plataforma que presta un servicio intermediaron para que los estudiantes del Politécnico Jaime Isaza Cadavid puedan
            buscar prácticas con las grandes empresas nacionales e internacionales, tengan varias opciones para hacer
            las prácticas; encuentre empresas que se acomoden tanto a tú perfil profesional como a tú perfil ético
            y te sientas a gusto con la empresa; todos los días trabajamos para hacernos conocer y que cada vez se
            han más las empresas las que publiquen más ofertas y así el politécnico se ha reconocido por ser una
            institución universitaria por tener una amplía variedad de empresas para hacer prácticas.
        </p>
    </div>
</div>