@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/master.cshtml";
}
<link rel="stylesheet" href="../../Style/ContactUs.css" />
<h1>Contáctenos</h1>
<div class="principal">
    <div class="izquierda">
        <form action="" method="GET">
            <h2>Formulario</h2>
            <label for="Name">Nombre</label>
            <input type="text" name="Name" id="Name">
            <label for="Email">Correo</label>
            <input type="email" name="Email" id="Email">
            <label for="Menssage">Mensaje</label>
            <textarea name="Menssage" rows="7" style="height: 25%;"></textarea>
            <input type="button" value="Enviar">
        </form>
    </div>
    <div class="derecha">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5609.326004461512!2d-75.58027150514!3d6.211859267790445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429d458b9e19b%3A0xa41de7af3f199040!2sPolit%C3%A9cnico+Jaime+Isaza+Cadavid!5e0!3m2!1ses!2sco!4v1520536837002"
                height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>